.nivelRisco {
    border-radius: 20px;
    background: #FA0;

    width: 154px;
    height: 48px;
    flex-shrink: 0;

    margin: 1.5rem;
}

.textoNivelRisco {
    color: #FFF;
    display : flex;
    width: 149px;
    height: 48px;
    font-family: Roboto;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    flex-direction: column;
    justify-content: center;
    align-items : center;
}